// Primary Colors
$primary-50: #edf9ff;
$primary-100: #d6f0ff;
$primary-200: #b5e6ff;
$primary-300: #83d8ff;
$primary-400: #48c1ff;
$primary-500: #1ea0ff;
$primary-600: #0681ff;
$primary-700: #0061e3;
$primary-800: #0853c5;
$primary-900: #0d499b;

// Neutral Colors
$neutral-50: #fafafa;
$neutral-100: #f5f5f5;
$neutral-200: #e5e5e5;
$neutral-300: #d4d4d4;
$neutral-400: #a3a3a3;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;
$neutral-900: #171717;

// Semantic Colors
$semantic-information: #1ea0ff;
$semantic-link: #1ea0ff;
$semantic-informationBG: #edf9ff;
$semantic-success: #12b76a;
$semantic-toggleOn: #12b76a;
$semantic-successBG: #f0fdf4;
$semantic-warning: #eab308;
$semantic-notice: #eab308;
$semantic-warningBG: #fefce8;
$semantic-noticeBG: #fefce8;
$semantic-error: #ef4444;
$semantic-errorDark: #b91c1c;
$semantic-errorBG: #fef2f2;
$semantic-white: #ffffff;
$semantic-black: #000000;

//rsa:
$rsa-secondary-dark: '#112534';
$rsa-secondary-light: '#5E939F';
$rsa-primary-dark: '#b87c4a';
$rsa-primary-lIGHT: '#f7cd7e';

//color name
$alice_blue: #edf9ff;
$water_blue: #d6f0ff;
$diamond_blue: #b5e6ff;
$pale_blue: #83d8ff;
$picton_blue: #48c1ff;
$dodger_blue: #1ea0ff;
$azure_blue: #0681ff;
$true_blue: #0061e3;
$sapphire_blue: #0853c5;
$yale_blue: #0d499b;
$lotion: #fafafa;
$cultured: #f5f5f5;
$platinum: #e5e5e5;
$light_grey: #d4d4d4;
$quick_silver: #a3a3a3;
$old_silver: #828282;
$nickel: #737373;
$davy_grey: #525252;
$black_olive: #404040;
$raisin_black: #262626;
$chinese_black: #171717;
$crayola: #12b76a;
$honeydew: #f0fdf4;
$american_yellow: #eab308;
$cosmic_latte: #fefce8;
$carmine_pink: #ef4444;
$carnelian: #b91c1c;
$light-red: #fecaca;
$lavender_blush: #fef2f2;
$white: #ffffff;
$black: #000000;
$dark-gumental: '#112534';
$cadet-blue: '#5E939F';
$brown-sugar: '#b87c4a';
$topaz: '#f7cd7e';
