@import './color.var.scss';

.typo-text-name-regular {
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0em;
}

.typo-text-name-medium {
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0em;
}

.typo-text-name-semibold {
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0em;
}

.typo-text-name-bold {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
}

.typo-display-regular-3xl {
  font-size: 160px;
  font-weight: 400;
  line-height: 220px;
  letter-spacing: 0em;
}

.typo-display-medium-3xl {
  font-size: 160px;
  font-weight: 500;
  line-height: 220px;
  letter-spacing: 0em;
}

.typo-display-semibold-3xl {
  font-size: 160px;
  font-weight: 600;
  line-height: 220px;
  letter-spacing: 0em;
}

.typo-display-bold-3xl {
  font-size: 160px;
  font-weight: 700;
  line-height: 220px;
  letter-spacing: 0em;
}

.typo-display-regular {
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
}

.typo-display-medium {
  font-size: 60px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 0em;
}

.typo-display-semibold {
  font-size: 60px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0em;
}

.typo-display-bold {
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
}

.typo-header-1-regular {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.typo-header-1-medium {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
}
.typo-header-1-semibold {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
}
.typo-header-1-bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
}
.typo-header-2-regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}
.typo-header-2-medium {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
}
.typo-header-2-semibold {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
}
.typo-header-2-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
}
.typo-body-1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.typo-body-1-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}
.typo-body-1-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}
.typo-body-1-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
.typo-body-2-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
.typo-body-2-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}
.typo-body-2-semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
}
.typo-body-2-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}
.typo-body-3-semibold {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
}
.typo-supporting-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}
.typo-supporting-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}
.typo-supporting-semibold {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
}
.typo-supporting-bold {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
}
